.image-panel {
    height: auto;
    width: 100vh;
    background-color: black;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}

.display-image {
    margin-top: 20px;
    width: auto;
    max-height: 80vh;
    max-width: 90vh;
    display: inline-block;
    line-height: 100vh;
    vertical-align: middle;
}

.image-side {
    display: flex;
}

.menubar {
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.menu-input {
    display: none;
    height: 64px;
    width: 64px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-icons {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 40%;
}

.menu-icons:hover {
    transform: scale(1.1);
    box-shadow: rgba(36, 3, 255, 0.35) 0px 5px 15px;
}

.menu-img {
    height: 50px;
    width: 50px;
}
.altText {
    color: white;
    font-family: "Share Tech Mono", monospace;
    font-size: 40px;
}


.button-icon-menu {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background-color: #bfd9fc;
    border-radius: 15px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #7b97c5;
    text-align: center;
    margin-top: 15px;
  }
  
  .button-icon-menu:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }